In [30]:
import pandas as pd
import numpy as np
from math import *

In [5]:
df = pd.read_csv('speed dating.csv')

In [6]:
df.head()

,Unnamed: 0,id,has_null,wave,gender,age,age_o,d_age,d_d_age,race,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1.0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,1,1.0,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,2,1.0,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1
3,3,1.0,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1
4,4,1.0,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,...,[0-3],[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1

In [22]:
pref = ['attractive_important' , 'sincere_important' , 'intelligence_important' , 'funny_important' , 'ambition_important' , 'shared_interests_important']
pref_o = ['pref_o_attractive' , 'pref_o_sincere' , 'pref_o_intelligence' , 'pref_o_funny' , 'pref_o_ambitious' , 'pref_o_shared_interests']

In [23]:
df_pref = df[pref]
df_pref_o = df[pref_o]

In [45]:
df_pref.head()

,attractive_important,sincere_important,intelligence_important,funny_important,ambition_important,shared_interests_important
0,15.0,20.0,20.0,15.0,15.0,15.0
1,15.0,20.0,20.0,15.0,15.0,15.0
2,15.0,20.0,20.0,15.0,15.0,15.0
3,15.0,20.0,20.0,15.0,15.0,15.0
4,15.0,20.0,20.0,15.0,15.0,15.0

In [46]:
df_pref_o.head()

,pref_o_attractive,pref_o_sincere,pref_o_intelligence,pref_o_funny,pref_o_ambitious,pref_o_shared_interests
0,35.0,20.0,20.0,20.0,0.0,5.0
1,60.0,0.0,0.0,40.0,0.0,0.0
2,19.0,18.0,19.0,18.0,14.0,12.0
3,30.0,5.0,15.0,40.0,5.0,5.0
4,30.0,10.0,20.0,10.0,10.0,20.0

In [42]:
def ecart_pref(index):
    s = 0
    for i in range(0,len(df_pref.columns)):
                   s = s + (df_pref[df_pref.columns[i]][index] - df_pref_o[df_pref_o.columns[i]][index])**2
    return( np.sqrt(s))
#Cette fonction renvoie la distance moyenne entre les prÃ©fÃ©rences et les prÃ©fÃ©rences du partenaires

In [68]:
def note_moyenne(index):
    m = 1/100 * (df['attractive_important'][index]*df['attractive_partner'][index] + df['sincere_important'][index]*df['sincere_partner'][index] + df['intelligence_important'][index]*df['intelligence_partner'][index] + df['funny_important'][index]*df['funny_partner'][index] + df['ambition_important'][index]*df['ambition_partner'][index] + df['shared_interests_important'][index]*df['shared_interests_partner'][index])
    return(m)
#Cette fonction retourne la note moyenne attribuÃ©e par la personne qui note la personne en face (pondÃ©rÃ©e par l'importance qu'elle attribue aux 6 caractÃ©ristiques Ã©valuÃ©es)

In [69]:
def note_moyenne_o(index):
    m = 1/100 * (df['pref_o_attractive'][index]*df['attractive_o'][index] + df['pref_o_sincere'][index]*df['sincere_o'][index] + df['pref_o_intelligence'][index]*df['intelligence_o'][index] + df['pref_o_funny'][index]*df['funny_o'][index] + df['pref_o_ambitious'][index]*df['ambitious_o'][index] + df['pref_o_shared_interests'][index]*df['shared_interests_o'][index])
    return(m)
#Cette fonction donne la note moyenne attribuÃ©e par le partenaire de la personne principale (elle fait la mÃªme chose que la fonction prÃ©cÃ©dente mais du point de vue du partenaire)

In [108]:
def note_moyenne_propre(index):
    m = 1/100 * (df['attractive_important'][index]*df['attractive'][index] + df['sincere_important'][index]*df['sincere'][index] + df['intelligence_important'][index]*df['intelligence'][index] + df['funny_important'][index]*df['funny'][index] + df['ambition_important'][index]*df['ambition'][index])
    return(m)
#Note moyenne de soi perÃ§ue par soi

In [107]:
note_moyenne_propre(2)

6.3500000000000005

In [73]:
#Il faut logiquement avoir une condition pour qu'il y ait match : que les deux notes attribuÃ©es soient Ã©levÃ©es

In [77]:
df_bis = df[['attractive' , 'sincere' , 'intelligence' , 'funny' , 'ambition' , 'attractive_o' , 'sincere_o' , 'intelligence_o' , 'funny_o' , 'ambitious_o']]
#Dans cette base de donnÃ©e, j'ai les colonnes des notes que l'individu se donne Ã  lui mÃªme (son propre avis sur lui) et ensuite j'ai les colonnes de ces mÃªmes caractÃ©ristiques mais notÃ©es par le partenaire (_o)

In [76]:
df_bis.head()

,attractive,sincere,intelligence,funny,ambition,attractive_o,sincere_o,intelligence_o,funny_o,ambitious_o
0,6.0,8.0,8.0,8.0,7.0,6.0,8.0,8.0,8.0,8.0
1,6.0,8.0,8.0,8.0,7.0,7.0,8.0,10.0,7.0,7.0
2,6.0,8.0,8.0,8.0,7.0,10.0,10.0,10.0,10.0,10.0
3,6.0,8.0,8.0,8.0,7.0,7.0,8.0,9.0,8.0,9.0
4,6.0,8.0,8.0,8.0,7.0,8.0,7.0,9.0,6.0,9.0

In [112]:
def liste_biais_note(index):
    liste = []
    liste_colonnes = df_bis.columns
    for i in range(0 , (len(liste_colonnes))//2):
        liste.append(df_bis[liste_colonnes[i]][index] - df_bis[liste_colonnes[i+5]][index])
    return(liste)
  #Renvoie la liste des biais (i.e note perÃ§ue - note reÃ§ue par le partenaire)

In [113]:
def biais_moyen_anticipe(index):
    B = liste_biais_note(index)
    m = 0
    for i in range(0,len(B)):
        m = m + B[i]*( df_pref[df_pref.columns[i]][index] )
    return(m/100)
#Renvoie le biais moyen perÃ§u par soi mÃªme

In [114]:
def biais_moyen_anticipe_o(index):
    B = liste_biais_note(index)
    m = 0
    for i in range(0,len(B)):
        m = m + B[i]*( df_pref_o[df_pref_o.columns[i]][index] )
    return(m/100)
#Renvoie le biais moyen perÃ§u par le partenaire

In [109]:
def biais_moyen_reel(index):
    return(note_moyenne_propre(index) - note_moyenne_o(index))

In [117]:
biais_moyen_reel(76)

0.8038999999999996

In [119]:
def test(index):
    return((note_moyenne(index) + note_moyenne_o(index))/2 , df['match'][index])

In [128]:
test(8000)

(6.4, 0)